<!DOCTYPE html>

<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

		<title>@ViewData["Title"] - xpgp</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="~/js/lib/jquery.resize.js"></script>

        @RenderSection("head")
    </head>

    <body>
        @RenderBody()
    </body>
</html>