@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani" rel="stylesheet">

    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/account.css">

    <script src="~/js/lib/jquery.center-vertical.js"></script>
    <script src="~/js/account.js"></script>
}

<div id="logreg-vignette"></div>

<div id="logreg" class="center">
    <div id="logreg-inner">
        <h1 id="logreg-title">@ViewData["LogRegTitle"] <span style="font-family: 'Roboto', sans-serif; font-weight: bold;letter-spacing: -2px;">xpgp</span></h1>

        <div id="logreg-form-container">
            @RenderBody()
        </div>

        @RenderSection("links", false)
    </div>
</div>

