<div id="logreg-vignette"></div>

<div id="logreg">
    <div id="logreg-inner">
        <h1 id="logreg-title">Log in to <span style="font-family: 'Roboto', sans-serif; font-weight: bold;letter-spacing: -2px;">xpgp</span></h1>

        <div id="logreg-form-container">
            <form>
                <div id="logreg-form">
                    <div id="logreg-form-content">
                        <input type="text" class="logreg-input" placeholder="Email address">
                        <input type="text" class="logreg-input" placeholder="Password">
                    </div>

                    <div id="logreg-submit-container">
                        <div id="logreg-submit-text">&#10004; No cookies will be saved.</div>
                        <input type="submit" id="logreg-submit" value="Log in">                    
                    </div>
                </div>
            </form>
        </div>

        <a>Forgot password?</a> &nbsp;&nbsp;
        <a>Need an account?&nbsp;(Register)</a><br>
        <a>What is PGP encryption?</a>
    </div>
</div>