@section scripts 
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.1/velocity.min.js" integrity="sha256-5Go41ifI+EFXy6IiyZH+HebUCkGwr78biW2nrVJIXqQ=" crossorigin="anonymous"></script>

    <script src="~/js/keypair-display.js"></script>
    <script src="~/js/keypair-display-decrypt.js"></script>

    <script>
        window.decryptUrl = document.location.origin + "@(ViewBag.DecryptUrl)";
    </script>
}

@Html.Partial("Navbar")

<div id="content">
    <div id="content-inner">
        <div class="content-panel" id="content-panel-viewkeypairs" style="height: 666px;">
            <div class="content-panel-header">
                <span id="content-header-text"></span>

                <img id="content-panel-header-back" src="~/img/back.svg">                
            </div>

            <div class="content-panel-content">
                @Html.Partial("KeyList")

                <div id="keypair-display">
                    <div id="keypair-display-container-encrypt">
                        <textarea class="content-input" id="decrypt-input" placeholder="Type your message..."></textarea>

                        <div id="decrypt-buttons">
                            <button id="keypair-display-button-decrypt" class="content-panel-button content-panel-button-highlighted">Decrypt</button>
                            <button id="keypair-display-button-copy" class="content-panel-button content-panel-button-highlighted">Copy to Clipboard</button>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

@Html.Partial("Footer")