@section scripts 
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.1/velocity.min.js" integrity="sha256-5Go41ifI+EFXy6IiyZH+HebUCkGwr78biW2nrVJIXqQ=" crossorigin="anonymous"></script>

    <script src="~/js/save.js"></script>
    <script src="~/js/keypair-display.js"></script>
    <script src="~/js/keypair-display-main.js"></script>
}

@Html.Partial("Navbar")

<div id="content">
    <div id="content-inner">
        <div class="content-panel" id="content-panel-viewkeypairs" style="height: 666px;">
            <div class="content-panel-header">
                Viewing: Your keys

                <img id="content-panel-header-back" src="~/img/back.svg">                
            </div>

            @Html.Partial("KeyViewer")
        </div>
    </div>
</div>

@Html.Partial("Footer")