@Html.Partial("Navbar")

<div id="content">
    <div id="content-inner">
        <div class="content-panel" style="height: 666px;">
            <div class="content-panel-header">Your Keypairs</div>

            <div class="content-panel-content">
                <div id="content-panel-viewkeypairs-list">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Footer")