:root {
	--content-width: 1100px;
	--content-padding: 20px;
	--content-background-color: #1D1D1D;
	--content-border-color: #444;

	--navbar-height: 70px;
	--navbar-padding: calc(var(--navbar-height) / 2.25);

	/* Bad green */
	/* --navbar-background-color: hsla(123, 96%, 36%, 1);
	--navbar-background-color-dark: hsla(123, 96%, 27%, 1); */

	--navbar-background-color: hsla(123, 70%, 35%, 1);
	--navbar-background-color-dark: hsla(123, 70%, 26%, 1);

	/* Red */
	/* --navbar-background-color: #C50907;
	--navbar-background-color-dark: #920705; */

	/* Purple */
	/* --navbar-background-color: hsla(275, 70%, 45%, 1);
	--navbar-background-color-dark: hsla(275, 70%, 36%, 1); */

	/* Blue */
	/* --navbar-background-color: rgb(0, 155, 194);
	--navbar-background-color-dark: rgb(0, 132, 165); */

	--navbar-title-font-size: 26px;
	--navbar-title-transform: translate(19px, calc(var(--navbar-title-font-size) * -0.1));
	--navbar-title-letter-spacing: calc(var(--navbar-title-font-size) * -0.085);

	--navbar-searchbar-width: 256px;
	--navbar-searchbar-border-radius: 4px;
	--navbar-searchbar-padding: 4px;

	--optionbar-background-color: #343434;
	--optionbar-padding: 8px;
	--optionbar-option-padding: 16px;
	--optionbar-border-radius: 8px;
}

html, body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
	color: white;
	background-color: var(--content-background-color);

	overflow-x: hidden;
}

div {
	box-sizing: border-box;
}

p, h1, h2, h3, h4 {
	margin: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Disallow Chrome to change background color
with it auto-fills form data */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition: background-color 9999s ease-in-out 0s,
				color 9999s ease-in-out 0s,
				border 400ms ease-out;
    -moz-transition: background-color 9999s ease-in-out 0s,
				color 9999s ease-in-out 0s,
				border 400ms ease-out;
    -ms-transition: background-color 9999s ease-in-out 0s,
				color 9999s ease-in-out 0s,
				border 400ms ease-out;
    -o-transition: background-color 9999s ease-in-out 0s,
				color 9999s ease-in-out 0s,
				border 400ms ease-out;
	transition: background-color 9999s ease-in-out 0s,
				color 9999s ease-in-out 0s,
				border 400ms ease-out;
}

textarea {
    resize: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--content-border-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: var(--navbar-height);
	line-height: var(--navbar-height);
	padding: 0 var(--navbar-padding) 0 var(--navbar-padding);
	text-align: center;
	background-color: var(--navbar-background-color);
}

#navbar-content {
	display: inline-block;
	width: var(--content-width);
	text-align: left;
}

#navbar-content > * {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}

#navbar-title {
	margin-left: calc(var(--optionbar-option-padding) / 2);
	margin-right: 100px;

	transform: var(--navbar-title-transform);
}

.logo {
	font-size: var(--navbar-title-font-size);
	font-family: 'Roboto Mono', sans-serif;

	letter-spacing: var(--navbar-title-letter-spacing);
}

#navbar-searchbar {
	display: flex;
	flex-flow: row nowrap;

	width: var(--navbar-searchbar-width);
	background-color: var(--content-background-color);

	overflow: hidden;

	/* border: 1px solid var(--content-border-color); */
	-webkit-border-radius: var(--navbar-searchbar-border-radius);
	-moz-border-radius: var(--navbar-searchbar-border-radius);
	border-radius: var(--navbar-searchbar-border-radius);

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#navbar-searchbar-input {
	flex-grow: 1;

	border: none;
	outline: none;

	padding: var(--navbar-searchbar-padding) 0 var(--navbar-searchbar-padding) var(--navbar-searchbar-padding);
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: white;
	background-color: transparent;
}

#navbar-searchbar-button {
	cursor: pointer;
	line-height: initial;
	padding: 0 6px 0 6px;
}

#navbar-searchbar-button-icon {
	width: 12px;
	opacity: 0.50;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#navbar-menu {
	display: none;
	position: absolute;
	left: var(--navbar-padding);
	top: 0;
	height: var(--navbar-height);
	font-size: 0;
}

#navbar-userinfo {
	float: right;
	font-size: 0;
	cursor: pointer;
	padding: 0 16px;
}

#navbar-userinfo:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

#navbar-userinfo-name-container {
	margin-left: 8px;
}

#navbar-userinfo-name {
	font-size: 16px;
}

#navbar-userinfo > * {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}

#navbar-menu-icon {
	height: 28px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#navbar-userinfo-icon {
	width: 32px;
	height: 32px;

    position: relative;
    top: 50%;
	transform: translateY(60%);

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#optionbar {
	position: absolute;
	left: 0;
	top: var(--navbar-height);
	width: 100%;
	min-width: calc(var(--content-width) + var(--content-padding) * 3);
	padding: var(--optionbar-padding);

	text-align: center;
	background-color: var(--optionbar-background-color);
	border-bottom: 1px solid var(--content-border-color);
}

#optionbar-inner {
	display: inline-block;
	width: var(--content-width);
	text-align: left;
	font-size: 0;
}

.optionbar-option {
	cursor: pointer;

	display: inline-block;
	height: calc(var(--navbar-height) - var(--optionbar-padding) * 2);
	line-height: calc(var(--navbar-height) - var(--optionbar-padding) * 2);
	padding: 0 var(--optionbar-option-padding) 0 var(--optionbar-option-padding);

	color: white;
	text-decoration: none;
	font-size: 18px;

	-webkit-border-radius: var(--optionbar-border-radius);
	-moz-border-radius: var(--optionbar-border-radius);
	border-radius: var(--optionbar-border-radius);
}

.optionbar-option:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.optionbar-option-icon {
	position: relative;
	top: 1px;
	margin-right: 1px;
}

#content {
	padding: calc(var(--navbar-height) * 2 + var(--content-padding)) var(--content-padding) 0 var(--content-padding);
	min-height: calc(100vh - var(--navbar-height));
	text-align: center;
	overflow: hidden;
}

#content-inner {
	display: inline-block;
	width: calc(var(--content-width) + var(--content-padding));
}

.content-panel {
	display: flex;
	flex-flow: column nowrap;

	margin: calc(var(--content-padding) / 2);
	text-align: left;

	background-color: var(--optionbar-background-color);
	border: 1px solid var(--content-border-color);

	-webkit-border-radius: var(--navbar-searchbar-border-radius);
	-moz-border-radius: var(--navbar-searchbar-border-radius);
	border-radius: var(--navbar-searchbar-border-radius);
}

#content-inner > .content-panel:first-child {
	margin-top: 0;
}

.content-panel-header {
	padding-left: 24px;
	height: 55px;
	line-height: 55px;

	/* color: var(--navbar-background-color); */
	color: white;
	font-size: 20px;	
	/* font-weight: bold; */
	border-bottom: 1px solid var(--content-border-color) !important;	
}

.content-panel-content {
	display: flex;
	flex-flow: row nowrap;
	flex: 1;
}

#footer {
	margin-top: calc(var(--content-padding) * 2);
	height: var(--navbar-height);

	background-color: var(--optionbar-background-color);
	border-top: 1px solid var(--content-border-color);
}

.content-input {
    width: 100%;
    margin-bottom: var(--content-padding);
    border: 2px solid #474747;
	outline: none;

	padding: 14px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: white;
    background-color: transparent;
    
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
    
    box-sizing: border-box;

    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

.content-input:focus {
    border: 2px solid var(--navbar-background-color);
}

/*****************************************/

#content-panel-list {
	display: inline-block;
	width: 400px;
	padding: var(--content-padding);
	border-right: 1px solid var(--content-border-color);

	overflow-y: scroll;
}

#content-panel-newkeypair {
	display: inline-block;
	text-align: center;
	font-size: 0;
}

#content-panel-qrcode-container {
	display: inline-block;
	width: 180px;
	height: 180px;

	margin-bottom: var(--content-padding);

	background-color: var(--content-border-color);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	overflow: hidden;
}

#content-panel-newkeypair-form {
	width: 350px;
}

#content-panel-newkeypair-form-expiration-container {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: var(--content-padding);	
}

#content-panel-newkeypair-form-expiration {
	margin-right: var(--content-padding);
	margin-bottom: 0;
}

@-moz-document url-prefix() { 
	#content-panel-newkeypair-form-expiration {
		width: 216px; /* Because firefox */
	}
}

#content-panel-newkeypair-form-expiration-units {
	outline: none;
	border: none;
	padding: 0 8px;
	color: white;
	background-color: var(--optionbar-background-color);
	border: 2px solid var(--content-border-color);

	font-family: "Roboto", sans-serif;
	font-size: 20px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

#content-panel-newkeypair-button-container {
	display: flex;
	flex-flow: row nowrap;
}

.content-panel-button {
	flex: 1;
	margin-right: var(--content-padding);

    cursor: pointer;

    outline: none;
    border: none;
    padding: 10px;

	color: white;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #4B4B4B;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

.content-panel-button:last-child {
	margin-right: 0;
}

.content-panel-button-disabled {
	opacity: 0.5;
	cursor: default;
	color: transparent;  
	pointer-events: none;
}

.content-panel-button-danger:hover {
	background-color: #880000;
}

.content-panel-button-highlighted {
    background-color: var(--navbar-background-color);    
}

.content-panel-button-highlighted:hover {
    background-color: var(--navbar-background-color-dark) !important;
}

#content-panel-qrcode-loading {
	opacity: 0;
	height: 100%;
}

/***********************************************/

.keypair-view-button {
	display: flex;
	flex-flow: row nowrap;
	cursor: pointer;

	width: 100%;
	padding: 16px;
	margin-bottom: var(--content-padding);

	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid transparent;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	border-radius: 8px;
	
	-webkit-transition: background-color 250ms ease;
    -moz-transition: background-color 250ms ease;
    -ms-transition: background-color 250ms ease;
    -o-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
}

.keypair-view-button:last-child {
	margin-bottom: 0;
}

.keypair-view-button:hover {
	background-color: rgba(255, 255, 255, 0.2);	
}

.keypair-view-button-selected {
	border: 2px solid var(--navbar-background-color);
}

.keypair-view-button-content {
	display: inline-block;
	padding: 16px;	
	flex: 1;
}

.keypair-view-button-icon-container, .pinned-save-button-container {
	padding-right: 12px;
}

.keypair-view-button-icon {
	width: 50px !important;
	height: 50px !important;
	cursor: pointer;

	-webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.keypair-view-button-icon:hover {
	transform: scale(1.2);
}

.keypair-view-button-title {
	position: relative;
	left: 2px;
	top: -2px;
	
	margin-bottom: 4px;
}

.keypair-view-button-subtext {
	margin-top: 4px;
}

#keypair-display {
	display: inline-block;
	flex: 1;
	vertical-align: top;	
}

#keypair-display-inner {
	height: 100%;
	flex-flow: column nowrap;
}

#keypair-display-name-container {
	position: relative;
	left: -16px;
	margin-bottom: 16px;
}

#keypair-display-icon {
	position: relative;
	top: 4px;
	width: 28px;
}

#keypair-display-owner {
	margin-top: 8px;
	margin-bottom: 16px;
}

#content-panel-header-back {
	display: none;
	position: absolute;
	transform: translateY(32%);
	left: calc(100vw + var(--navbar-padding));
}

#navbar-account-menu, #navbar-mobile-menu {
	pointer-events: none;

	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

#navbar-mobile-menu {
	top: calc(var(--navbar-height) - 20px);
}

#navbar-account-menu {
	text-align: center;
}

#navbar-account-menu-pointer, #navbar-mobile-menu-pointer {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid var(--navbar-background-color-dark);
}

#navbar-mobile-menu-pointer {
	left: 45px;
}

#navbar-account-menu-inner, #navbar-mobile-menu-inner 
{
	pointer-events: initial;
	padding: 16px;

	background-color: var(--navbar-background-color-dark);

	-webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
}

#navbar-mobile-menu-inner {
	display: flex;
	flex-flow: column nowrap;	
}

#keypair-display-publickey {
	margin-top: 16px;
	font-size: 11px;
	text-align: center;
	max-height: 220px;
	overflow: hidden;
}

#keypair-display-loading {
	height: 100%;
}

#keypair-display-container-encrypt {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	padding: var(--content-padding);
}

#encrypt-input, #decrypt-input {
	flex: 1;
	background-color: var(--content-border-color);
}

#encrypt-buttons, #decrypt-buttons {
	text-align: right;
}

#search-query {
	margin-bottom: var(--content-padding);
}

.anonymous-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 100vw;
	border-top: 16px solid var(--navbar-background-color);
}

.anonymous-header > * {
	display: inline;
}

.anonymous-publickey {
	padding: var(--content-padding);
}

.anonymous-profile-pic {
	cursor: zoom-in;

	width: 42px;
    height: 42px;
    margin-right: 2px;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;

	position: relative;
    transform: translate(-25%, -50%) scale(1);
	top: 50%;
	float: left;

	-webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
	transition: all 250ms ease;
}

.anonymous-profile-pic:hover {
	transform: translate(-25%, -50%) scale(calc(128 / 42));

    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.85);
}

.anonymous-buttons {
	padding-right: var(--content-padding);
	padding-bottom: var(--content-padding);
	text-align: right;
	width: 100%;
	font-size: 0;
}

#anonymous-header-title {
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin-left: 32px;
	margin-top: 4px;
}

#anonymous-header-options {
	float: right;
	margin-right: 32px;
	margin-top: 8px;
}

#anonymous-header-options > * {
	color: white;
}