@media only screen and (max-width: 768px) {
	::-webkit-scrollbar {
		width: 0px;
	}


	#optionbar, #navbar-searchbar {
		display: none;
	}

	#navbar-content {
		width: 100%;
		text-align: center;
	}

	#navbar-title {
		margin: 0;
	}

	#navbar-menu {
		display: initial !important;
	}

	#navbar-userinfo {
		padding: 0;
		background-color: transparent !important;
	}

	#navbar-userinfo-name-container {
		display: none !important;
	}

	#content {
		padding: calc(var(--navbar-height) + var(--content-padding)) 0 0 0;
		/* overflow: auto; */
	}

	.content-panel {
		margin-left: 0 !important;
		margin-right: 0 !important;

		width: 100vw !important;

		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	#content-example { /* TEMP */
		flex-flow: column nowrap !important;
	}

	#content-panel-list, #keypair-display-inner {
		width: 100vw;
	}

	#content-panel-viewkeypairs {
		width: 200% !important;
	}

	.keypair-view-button-selected {
		border: 2px solid transparent !important;
	}

	#navbar-account-menu {
		width: 152px;
		min-width: 152px;
	}

	#navbar-account-menu-pointer {
		left: 100%;
		transform: translateX(-209%);
	}

	#keypair-display-publickey {
		width: 80%;
	}

	#encrypt-buttons, #decrypt-buttons {
		text-align: left;
	}

	#encrypt-input, #decrypt-input {
		position: relative;
		left: calc(var(--content-padding) * -1);
		width: 100vw;

		border-left-color: transparent !important;
		border-right-color: transparent !important;

		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	#content-panel-newkeypair {
		width: 80%;
	}

	#content-panel-newkeypair-form {
		width: auto;
	}

	#content-panel-bio {
		flex-flow: column nowrap !important;
		text-align: center;
	}

	#profile-pic {
		width: 100% !important;
		height: 128px;
		margin-bottom: var(--content-padding);
	}

	#profile-info {
		text-align: center;
		margin-bottom: calc(var(--content-padding) * 2);		
	}

	#profile-bio-text {
		width: 80%;
		display: inline-block;
	}

	#profile-pinned {
		width: 100% !important;
	}

	#keypair-display-loading {
		width: 100vw;
	}
}

@media only screen and (max-width: 1160px) and (min-width: 768px) {
	#navbar-userinfo {
		position: absolute;
		right: calc(var(--content-padding) * 1.5);
	}
}