.xpgp-modal-curtain {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);

    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -ms-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
}

.xpgp-modal-curtain-visible {
    background-color: rgba(0, 0, 0, 0.75) !important;    
}

.xpgp-modal-container {
    z-index: 1001;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);

    background-color: var(--optionbar-background-color);

    border: 1px solid var(--content-border-color);
    -webkit-border-radius: var(--navbar-searchbar-border-radius);
    -moz-border-radius: var(--navbar-searchbar-border-radius);
    border-radius: var(--navbar-searchbar-border-radius);

    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
    -ms-transition: transform 400ms ease;
    -o-transition: transform 400ms ease;
    transition: transform 400ms ease;
}

.xpgp-modal-container-visible {
    transform: translate(-50%, calc(50vh - 50%));
}

.xpgp-modal {
    min-width: 450px;
}

.xpgp-modal-title {
    padding-left: 24px;
    height: 55px;
    line-height: 55px;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid var(--content-border-color) !important;
}

.xpgp-modal-content {
    padding: var(--content-padding);
}

.xpgp-modal-text-container {
    margin-bottom: var(--content-padding);
}

.xpgp-modal-text {
    margin-bottom: var(--content-padding);
    color: white;
    font-size: 16;
}

.xpgp-modal-input {
    display: block;
    width: 100%;
    margin-bottom: var(--content-padding);
    border: 2px solid #474747;
	outline: none;

	padding: 14px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: white;
    background-color: transparent;
    
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
    
    box-sizing: border-box;

    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

.xpgp-modal-button-container {
    text-align: right;
}